---
import Logo from "../assets/icons/IconLogo.svg";
import Facebook from "../assets/icons/IconFacebook.svg";
import Instagram from "../assets/icons/IconInstagram.svg";
import Twitter from "../assets/icons/IconTwitter.svg";
---

<footer class="w-full mt-auto bg-black text-white py-12">
    <div class="max-w-7xl mx-auto px-6 lg:px-12">
        <div
            class="flex flex-col lg:flex-row justify-between items-center gap-10"
        >
            <a href="/" class="flex items-center gap-4">
                <Logo class="w-14 h-auto fill-white" />
                <h1 class="text-3xl font-bold tracking-wide">Vis'Sport</h1>
            </a>
            <nav>
                <ul
                    class="flex flex-col lg:flex-row gap-5 text-center text-lg font-semibold"
                >
                    <li>
                        <a
                            class="hover:text-yellow-400 transition"
                            href="/programme">Programme</a>
                    </li>
                    <li>
                        <a
                            class="hover:text-yellow-400 transition"
                            href="/apropos">A propos</a>
                    </li>
                    <li>
                        <a
                            class="hover:text-yellow-400 transition"
                            href="/activites">Activités</a>
                    </li>
                    <li>
                        <a
                            class="hover:text-yellow-400 transition"
                            href="/invites">Invités</a>
                    </li>
                    <li>
                        <a
                            class="hover:text-yellow-400 transition"
                            href="/infospratique">Infos Pratiques</a>
                    </li>
                    <li>
                        <a
                            class="hover:text-yellow-400 transition"
                            href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="border-t border-gray-700 my-10 w-full"></div>
        <div
            class="flex flex-col lg:flex-row justify-between items-center gap-6"
        >
            <p class="text-gray-400 text-sm">
                ©2024 Vis'Sport. Tous droits réservés.
            </p>
            <ul class="flex gap-8">
                <li>
                    <a href="https://facebook.com" aria-label="Facebook">
                        <Facebook
                            class="w-10 h-10 text-white fill-white hover:text-yellow-400 transition"
                        />
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com" aria-label="Instagram">
                        <Instagram
                            class="w-10 h-10 text-white fill-white hover:text-yellow-400 transition"
                        />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com" aria-label="Twitter">
                        <Twitter
                            class="w-10 h-10 text-white fill-white hover:text-yellow-400 transition"
                        />
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</footer>
