---
import Logo from "../assets/icons/logo.svg";
import Facebook from "../assets/icons/IconFacebook.svg";
import Instagram from "../assets/icons/IconInstagram.svg";
import Twitter from "../assets/icons/IconTwitter.svg";
import Youtube from "../assets/icons/IconYoutube.svg";
---

<footer
    class="w-full mt-auto space-y-25 pt-20 lg:grid lg:grid-cols-6 lg:gap-5 lg:space-y-0 bg-black"
>
    <Logo />

    <nav
        class="px-5 columns-1 text-sm lg:text-base lg:columns-5 lg:col-span-4 lg:px-0"
    >
        <div>
            <ul class="text-white">
                <li>
                    <a class="block p-2 rounded-lg text-white" href="/programme"
                        >Programme</a
                    >
                </li>
                <li>
                    <a class="block p-2 rounded-lg text-white" href="/A propos"
                        >A propos</a
                    >
                </li>
                <li>
                    <a class="block p-2 rounded-lg text-white" href="/Activités"
                        >Activités</a
                    >
                </li>
                <li>
                    <a class="block p-2 rounded-lg text-white" href="/Invités"
                        >Invités</a
                    >
                </li>
                <li>
                    <a
                        class="block p-2 rounded-lg text-white"
                        href="/Infos Pratique">Infos Pratiques</a
                    >
                </li>
            </ul>
        </div>
        <div></div>
    </nav>
    <div
        class="px-40 text-gray-200 border-t border-white py-10 space-y-6 text-center lg:col-span-6 lg:flex lg:justify-center lg:items-center lg:space-y-0"
    >
        <p>©2021 Estatery. All rights reserved</p>
        <ul class="flex justify-center gap-3">
            <li class="flex items-center gap-4">
                <a href="https://facebook.com" aria-label="Facebook"
                    ><Facebook class="w-8 h-8 text-white fill-current" /></a
                >
            </li>
            <li class="flex items-center justify-end gap-4">
                <a href="https://instagram.com" aria-label="Instagram"
                    ><Instagram class="w-8 h-8 text-white fill-current" /></a
                >
            </li>
            <li class="flex items-center justify-end gap-4">
                <a href="https://twitter.com" aria-label="Twitter"
                    ><Twitter class="w-14 h-14 text-white fill-current" /></a
                >
            </li>
            <li class="flex items-center justify-end gap-4">
                <a href="https://youtube.com" aria-label="Youtube"
                    ><Youtube class="w-8 h-8 text-white fill-current" /></a
                >
            </li>
        </ul>
    </div>
</footer>
