---
import Logo from "../assets/icons/IconLogo.svg";
import Button from "../components/Button.astro";
const currentPath = Astro.url.pathname;
---

<header
    class="flex items-center justify-between px-6 lg:px-12 border-b border-gray-300 h-20 bg-white shadow-md"
>
    <a href="/" class="flex items-center">
        <Logo class="w-16 h-auto" />
    </a>

    <button
        id="menu-btn"
        class="group relative z-20 flex h-6 w-8 flex-col justify-between lg:hidden *:block *:ease-in-out *:h-0.5 *:w-full *:rounded-full *:bg-gray-800 *:transition-all *:duration-300"
        aria-label="Menu"
        aria-controls="menu"
        aria-expanded="false"
    >
        <span
            class="group-aria-expanded:translate-y-2 group-aria-expanded:rotate-45"
        ></span>
        <span class="group-aria-expanded:opacity-0"></span>
        <span
            class="group-aria-expanded:-translate-y-2 group-aria-expanded:-rotate-45"
        ></span>
    </button>

    <nav
        id="menu"
        class="fixed inset-0 bg-white/90 backdrop-blur-lg z-10 flex flex-col items-center justify-center opacity-100 visible gap-4 transform transition-all duration-300
              max-lg:aria-hidden:opacity-0 max-lg:aria-hidden:invisible max-lg:aria-hidden:translate-y-[-10px]
              lg:relative lg:bg-transparent lg:flex-row lg:opacity-100 lg:visible lg:translate-y-0"
        aria-hidden="true"
    >
        <ul class="flex flex-col gap-3 text-lg lg:flex-row lg:gap-5">
            <li>
                <a
                    class={`block px-4 py-2 rounded-lg transition-all duration-300 font-semibold text-gray-900 
              hover:bg-yellow-400 hover:text-white lg:hover:bg-yellow-400 lg:hover:text-white
              ${currentPath === "/film" ? "bg-yellow-400 text-white" : ""}`}
                    href="/film"
                >
                    Programme
                </a>
            </li>
            <li>
                <a
                    class={`block px-4 py-2 rounded-lg transition-all duration-300 font-semibold text-gray-900 
              hover:bg-yellow-400 hover:text-white lg:hover:bg-yellow-400 lg:hover:text-white
              ${currentPath === "/apropos" ? "bg-yellow-400 text-white" : ""}`}
                    href="/apropos"
                >
                    A propos
                </a>
            </li>
            <li>
                <a
                    class={`block px-4 py-2 rounded-lg transition-all duration-300 font-semibold text-gray-900 
              hover:bg-yellow-400 hover:text-white lg:hover:bg-yellow-400 lg:hover:text-white
              ${currentPath === "/activites" ? "bg-yellow-400 text-white" : ""}`}
                    href="/activites"
                >
                    Activités
                </a>
            </li>
            <li>
                <a
                    class={`block px-4 py-2 rounded-lg transition-all duration-300 font-semibold text-gray-900 
              hover:bg-yellow-400 hover:text-white lg:hover:bg-yellow-400 lg:hover:text-white
              ${currentPath === "/Inviter" ? "bg-yellow-400 text-white" : ""}`}
                    href="/Inviter"
                >
                    Invités
                </a>
            </li>
            <li>
                <a
                    class={`block px-4 py-2 rounded-lg transition-all duration-300 font-semibold text-gray-900 
              hover:bg-yellow-400 hover:text-white lg:hover:bg-yellow-400 lg:hover:text-white
              ${currentPath === "/infospratique" ? "bg-yellow-400 text-white" : ""}`}
                    href="/infospratique"
                >
                    Infos Pratiques
                </a>
            </li>
            <li>
                <a
                    class={`block px-4 py-2 rounded-lg transition-all duration-300 font-semibold text-gray-900 
              hover:bg-yellow-400 hover:text-white lg:hover:bg-yellow-400 lg:hover:text-white
              ${currentPath === "/Contact" ? "bg-yellow-400 text-white" : ""}`}
                    href="/Contact"
                >
                    Contact
                </a>
            </li>
        </ul>

        <div class="flex items-center justify-center gap-3 px-4 mt-6 lg:mt-0">
            <Button variant="outlined" url="/login" text="Inscription" />
            <Button variant="dark" url="/signup" text="Connexion" />
        </div>
    </nav>
</header>

<script>
    const toggle = document.querySelector("#menu-btn");
    const nav = document.querySelector("#menu");
    const page = document.body;

    if (toggle && nav) {
        toggle.addEventListener("click", () => {
            const isOpen = toggle.ariaExpanded === "true";
            toggle.ariaExpanded = String(!isOpen);
            nav.ariaHidden = String(isOpen);
            page.classList.toggle("noscroll", !isOpen);
        });
    }
</script>
