---
import Button from "./Button.astro";

export interface Props {
    page: string;
}
---

<section
    class="relative w-full h-screen bg-gray-900 text-white flex items-center justify-center"
>
    <div
        class="absolute inset-0 bg-cover bg-center opacity-40"
        style="background-image: url('/src/assets/img/image-3.webp');"
    >
    </div>
    <div class="relative text-center max-w-3xl px-6">
        <h1 class="text-4xl md:text-6xl font-bold ">Bienvenue au Vis'Sport</h1>
        <h2 class="text-2xl md:text-4xl font-bold">18-23 AOUT 2025</h2>
        <p class="mt-4 text-lg md:text-xl">
            Venez vivre une expérience unique en alliant sport et cinéma !
            Profitez de films passionnants tout en découvrant l’univers sportif
            dans une ambiance conviviale.
        </p>
        <div class="mt-6 flex justify-center gap-4 font-bold">
            <Button variant="dark" url="/films" text="Qui nous sommes" />
        </div>
    </div>
</section>
